export PS1='$USER@$HOSTNAME:${PWD:-?} # '
export PATH=/data/bin:$PATH
alias kmsg='cat /proc/kmsg'
alias logcat='logcat -v threadtime'
alias cpcrash='echo 1 > /sys/devices/platform/mif_sipc5/ap_dump_int/value'